<html>
<head>
    <title>Shopping</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<nav>
    <div class="naw-wrapper">
        <a class="brand-logo left" >
            Shopping
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="index.html">Данные</a></li>
            <li><a href="package.html">Посылка</a></li>
            <li><a href="send.html">Почта</a></li>
            <li><a href="about.html">О нас</a></li>
        </ul>
    </div>
</nav>
информация
<script>
    require('./scripts/log.js')
</script>
</body>
</html>